*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 350px;
    height: 100vh;
    border: 5px solid;
    margin-left: auto;
    margin-right: auto;
}
.all
{
    overflow-y: scroll;
    height: 99vh;
}
.banner
{
    background: url(./Vidya\ Online\ Classes.gif) no-repeat center;
    background-size: cover;
    height: 70vh;
}
#logo
{
    height: 30px;
    display: inline-flex;
}
.head
{
    background-color: black;
    display: inline-block;
    width: 100%;
    display: none;
}
#icon1
{
    float: right;
    margin-top: 7px;
    margin-right: 5px;
    color: whitesmoke;
}
.intro
{
    padding: 2px;
}
#intro
{
    text-align: center;
    margin-top: 10px;
    padding: 3px;
    border: 5px double black;
}
.duction h3
{
    margin-top: 2px;
    margin-bottom: 6px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    width: 135px;
    padding-left: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.duction p
{
    padding: 5px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#p1 img
{
    width: 40%;
    height: 80px;
    float: right;
    margin-top: 9px;
    margin-right: 5px;
}
#p1 h3
{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    width: 170px;
    margin-top: 20px;
    padding-left: 5px;
}
#p1
{
    margin-top: 10px;
}
#p2 img
{
    width: 40%;
    height: 80px;
    float: left;
    margin-top: 9px;
    margin-right: 5px;
}
#p2 h3
{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    width: 170px;
    margin-top: -25px;
    padding-left: 5px;
    float: right;
}
#p2
{
    margin-top: 40px;
}
#p3 img
{
    width: 40%;
    height: 80px;
    float: right;
    margin-top: 9px;
    margin-right: 5px;
}
#p3 h3
{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    width: 190px;
    padding-left: 5px;
    margin-top: 20px;
}
#p3
{
    margin-top: 10px;
}
#p4 img
{
    width: 40%;
    height: 80px;
    float: left;
    margin-top: 9px;
    margin-right: 5px;
}
#p4 h3
{
    margin-bottom: -2px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    width: 200px;
    float: right;
    margin-top: -40px;
    padding-left: 5px;
}
#p4
{
    margin-top: 60px;
}
.box
{
    /* width: max-content; */
    padding: 5px;
    width: 150px;
    height: 110px;
    overflow-y: scroll;
    border: 2px solid ;
    display: inline-block;
    flex-direction: row;
    flex-grow: 90%;
    margin-left: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: auto;
    background: url(https://i.pinimg.com/originals/2a/76/17/2a761787715ca71788aad1a28ab057ac.jpg) no-repeat center;
}
.box h4
{
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
}
.development
{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 2px;
}
.development h3
{
    text-align: center;
    margin-bottom: 8px;
    padding: 5px;
    border: 8px double black;
}
.fotter
{
    text-align: center;
    padding: 1px;
    margin-top: 8px;
    background-color: black;
}
.fotter a
{
    color: white;
    transition: 1s;
}
.fotter hr
{
    margin-top: 3px;
    margin-bottom: 1px;
    visibility: hidden;
}
.fotter a:hover
{
    color: red;
}